# Node dependencies
release/
*.exe

node_modules/
npm-debug.log*

# Angular cache
.angular/cache/

# TypeScript build info
*.tsbuildinfo

# Compiled output
dist/
build/

# Electron build artefacts
out/
packages/

# IDE-/Editor-Verzeichnisse
.vscode/
.idea/

# OS-Dateien
.DS_Store
Thumbs.db

# Environment-Files
.env
.env.local

# Log-Files
*.log

# Sonstige temporäre Dateien
*.tmp
*.temp
*.tsbuildinfo
